:root {
    &.light-mode{
        --primary-body: linear-gradient(45deg, #FC466B, #3F5EFB);
        --primary-text: #000;
        --bg-theme-switcher: #000;
        --text-theme-switcher: #fff;
    }
    &.dark-mode{
        --primary-body: #302f2f;
        --primary-text: #fff;
        --bg-theme-switcher: #fff;
        --text-theme-switcher: #000;
    }
  }