<div class="room-container glass-effect">
    <div class="row-container">
        <label for="roomname">Room Name: </label>
        <input type="text" name="roomname" id="" [formControl]="name" [placeholder]="'Enter a room name'">
    </div>
    <div class="row-container">
        <label for="password">Password: </label>
        <input type="password" name="password" id="" [formControl]="password" [placeholder]="'Enter a password'">
    </div>
    <button class="button-primary">
        Create
    </button>
</div>