<div class="room-container glass-panel">
    <div class="row-container">
        <label for="roomname">Room Name: </label>
        <input class="transparent-input" type="text" name="roomname" id="" [formControl]="name" >
    </div>
    <div class="row-container">
        <label for="password">Password: </label>
        <input class="transparent-input" type="password" name="password" id="" [formControl]="password" >
    </div>
    <button class="button-primary glass-button">
        Create
    </button>
</div>