<div class="row">
    <div class="room-container glass-panel">
        <div class="row-container">
            <label for="roomname">Room Name: </label>
            <input class="transparent-input" type="text" name="roomname" >
        </div>
        <div class="row-container">
            <label for="password">Password: </label>
            <input class="transparent-input" type="password" name="password" >
        </div>
        <button class="button-primary glass-button">
            Join
        </button>
    </div>
</div>
<div class="row section-title">
    Find the room from below list
</div>
<div class="row room-list">
        <div *ngFor="let room of roomList">
            {{room}}
        </div>
</div>


